<h2 style = "font-weight: bold; ">
  Hello {{name}}
</h2>
<h3 style = "font-weight: normal;">
  You have sent us this question: "<span style = "font-weight: bold">{{question}}</span>".
  Our answer is: {{answer}}
  <br />
</h3>
